<app-page-header></app-page-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <div class="spinner-wrapper" *ngIf="loading">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <ng-container *ngIf="!loading">
      <div class="search-bar">
        <ion-input
          label="City Name: "
          [(ngModel)]="search"
          fill="outline"
          debounce="500"
          placeholder="Enter city name"
        ></ion-input>
        <ion-button (click)="onSearch()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </div>

      <h1 class="city-name" *ngIf="searched">City: {{searched}}</h1>
      <h2 class="titles">Current Weather</h2>
      <ion-card class="current-weather">
        <ion-img class="current-weather-icon" [src]="currentWeatherParams.icon" alt="current-weather-icon"></ion-img>
        <span class="current-weather-desc">{{ currentWeatherParams.weather.description }}</span>
        <span class="current-main-temp">{{ currentWeatherParams.main.temp }}&deg;</span>
        <span class="current-minmax-temp">
          <span class="current-min-temp"><b>Min:</b> {{ currentWeatherParams.main.temp_min }}&deg;</span>
          <span class="current-max-temp"><b> | Max:</b> {{ currentWeatherParams.main.temp_max }}&deg;</span>
        </span>
        <span class="current-wind">
          <span class="current-wind-speed"><b>Wind Speed:</b> {{ currentWeatherParams.wind.speed }}</span>
          <span class="current-wind-deg"><b> | Deg:</b> {{ currentWeatherParams.wind.deg }}&deg;</span>
        </span>
        <span class="current-humidity"><b>Humidity: </b>{{ currentWeatherParams.main.humidity }}%</span>
      </ion-card>

      <h2 class="titles">Report by the Hour</h2>
      <div class="hourly-container">
        <ion-card class="hourly-weather" *ngFor="let weather of hourlyWeatherParams">
          <span class="hourly-dt">{{ weather.dt }}</span>
          <ion-img class="hourly-weather-icon" [src]="weather.icon" alt="hourly-weather-icon"></ion-img>
          <span class="hourly-weather-desc">{{ weather.weather.description }}</span>
          <span class="hourly-main-temp">{{ weather.main.temp }}&deg;</span>
          <span class="hourly-minmax-temp">
            <span class="hourly-min-temp"><b>Min:</b> {{ weather.main.temp_min }}&deg;</span>
            <span class="hourly-max-temp"><b> | Max:</b> {{ weather.main.temp_max }}&deg;</span>
          </span>
          <span class="hourly-wind">
            <span class="hourly-wind-speed"><b>Wind Speed:</b> {{ weather.wind.speed }}</span>
            <span class="hourly-wind-deg"><b> | Deg:</b> {{ weather.wind.deg }}&deg;</span>
          </span>
          <span class="hourly-humidity"><b>Humidity: </b>{{ weather.main.humidity }}%</span>
        </ion-card>
      </div>

      <h2 class="titles">Report by the Day</h2>
      <div class="daily-container">
        <ion-card class="daily-weather" *ngFor="let weather of dailyWeatherParams">
          <span class="daily-dt">{{ weather.dt }}</span>
          <ion-img class="daily-weather-icon" [src]="weather.icon" alt="daily-weather-icon"></ion-img>
          <span class="daily-weather-desc">{{ weather.weather.description }}</span>
          <span class="daily-day-temp"><b>Day: </b>{{ weather.temp.day }}&deg;</span>
          <span class="daily-eve-temp"><b>Evening: </b>{{ weather.temp.eve }}&deg;</span>
          <span class="daily-night-temp"><b>Night: </b>{{ weather.temp.night }}&deg;</span>
        </ion-card>
      </div>
    </ng-container>

  </div>
</ion-content>
