ion-content {
  div.container {
    width: inherit;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    ion-img.logo {
      width: 250px;
      height: 250px;
      margin-bottom: 25px;
    }
  }
}

