<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
      Back
    </ion-button>
    <ion-title slot="center">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list-header><h1>Theme</h1></ion-list-header>
  <ion-card><ion-item>
    <ion-toggle (ionChange)="settingChange()" [(ngModel)]="darkMode">Dark Mode</ion-toggle>
  </ion-item></ion-card>
  
  <ion-list-header><h1>Preference</h1></ion-list-header>
  <ion-card>
    <ion-item>
      <ion-select label="Temperature Format" (ionChange)="settingChange()" [(ngModel)]="tempFormat">
        <ion-select-option value="metric">Celcius</ion-select-option>
        <ion-select-option value="imperial">Fahrenheit</ion-select-option>
        <ion-select-option value="standard">Kelvin</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
</ion-content>
